@tailwind base;
@tailwind components;
@tailwind utilities;


/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: "Poppins", sans-serif;
}

.text-55xl{
  font-size: 3.5rem;
}

.text-custom{
  color:#2768FD;
}

/* end font */

/* general */
.bg-primary{
  background-color: #2768FD;
}

.h-68{
  height: 16.5rem;
}
/* end general */

/* padding */
.py-22{
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}
/* end padding */


/* border */

.hover\:border-color-primary:hover{
  border-color: #2768FD;
}
.hover\:border-1:hover {
  border-width: 1px;
}

/* end border */

/* hover */

.hover\/color-primary{
  color: #2768FD;
}

/* end hover */

/* line-height */
.leading-custom {
  line-height: 2;
}
/* end line-height */